@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,400;1,300&display=swap');


:root {
  --primary-color : #D9D9D9;
  --button-color : #007AFF;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'IBM Plex Sans', sans-serif;
  /* border: 1px solid red; */
}

/* Components */

/* Navbar */

header {
  background-color: var(--primary-color);
  padding: 25PX 40PX;
}

/* Button */
button {
  padding: 17px 25px;
  border-radius: 14px;
  border: none;
  font-size: 16px;
  transition: 1s ease-in-out;
}

button:hover {
  scale: 1.5;
}

.cta {
  background-color: var(--button-color);
  color: white;

}

/* Footer */
footer {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 40px;
  background-color: var(--primary-color);
}
/* .developer-name {
  margin: 0px 0px 0px 0.5rem;
} */

/* Hero Section -> Landing Page */
.hero {
  text-align: center;
  padding: 10rem 5rem;
}

.hero h1 {
  font-size: 50px;
}
.hero p {
  font-size: 20px;
}





/* responsive design */

/* phone size = 400px */
@media(max-width : 400px){
  .hero {
    padding: 2rem 1rem 1rem 1rem;
  }

  footer {
    padding: 20px 30px;
    justify-content: space-evenly;
  }

  header{
    text-align: center;
  }
}